package ${package}.dao;

import org.springframework.data.jpa.repository.JpaRepository;
import org.springframework.stereotype.Repository;${package}.dao;

import ${package}.domain.${className}DO;

import java.util.List;
import java.util.Map;

import org.apache.ibatis.annotations.Mapper;

/**
 * ${comments}
 * @author ${author}
 * @email ${email}
 * @date ${datetime}
 */
@Repository
public interface ${className}Dao extends JpaRepository<${className},String>{

	${className} get(${pk.attrType} ${pk.attrname});
	
	List<${className}> list(Map<String,Object> map);
	
	int count(Map<String,Object> map);
	
	int save(${className} ${classname});
	
	int update(${className} ${classname});
	
	int remove(${pk.attrType} ${pk.columnName});
	
	int batchRemove(${pk.attrType}[] ${pk.attrname}s);
}
